---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
SortIncludes: true
IndentCaseLabels: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
SpaceAfterCStyleCast: true
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
IncludeBlocks: Regroup
---
